body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #377999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #377999; /* Cor de fundo verde */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
    justify-content: center;
}

nav li a {
    font-family: "Roboto Slab", serif;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.5s; /* Efeito de transição */
    border: 2px solid white; /* Adicionando borda ao redor do texto */
    border-radius: 5px; /* Borda com cantos arredondados */
    margin: 5px; /* Espaçamento entre os itens do menu */
}

nav li a:hover {
    background-color: #E44617; /* Cor de fundo mais escura ao passar o mouse */
}

h1{
    justify-content: left;
    display: flex;
    font-size: 50px;
    padding-left: 10px;
    color: white;
}

main p{
    color: white;
    padding-left: 10px;
}