body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding-top: 15px;
    margin-left: 5px;
}

.pesquisapai,
.pesquisamae {
    margin: 20px auto;
    flex-direction: row;
    display: flex;
    width: 90%;
    padding: 10px;
    
    
}

.oquee {
    width: 83.6%;
    margin-right: 40px;
    border: 2px solid #377999;
    border-radius: 5px; 
    
}

.oquee p,
.comotrans p {
    margin-inline: 5%;
}

.comotrans {
    width: 83.6%;
    border: 2px solid #377999;
    border-radius: 5px; 
}

.comoforma {
    width: 83.6%;
    margin-right: 40px;
    border: 2px solid #377999;
    border-radius: 5px; 
}

.comoforma p,
.ondecomeco p {
    margin-inline: 5%;
}

.ondecomeco {
    width: 83.6%;
    border: 2px solid #377999;
    border-radius: 5px; 
}

.oquecontribui {
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    
}

.filhocontribui {
    border: 2px solid #377999;
    border-radius: 5px;
}

.filhocontribui p {
    margin-inline: 2.3%;
}

div h1,
div h2 {
    color: #377999; /* Cor do título verde */
    text-align: center;
}


div p {
    text-align: justify;
    line-height: 1.5;
    
}

.btn-voltar {
    background-color: #377999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer; /* Cursor ao passar */
    font-size: 16px;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #E44617; /* Cor de fundo mais escura ao passar o mouse */
}
