body {
    margin: 0;
    font-family: "Roboto Slab", serif;
    background-image: linear-gradient(#377999 25% , #003149);
}

header {
    padding-top: 15px;
    margin-left: 5px;
}

.pesquisapai,
.pesquisamae {
    margin: 20px auto;
    flex-direction: row;
    display: flex;
    width: 1000px;
    padding: 10px;
    
}

.oquee {
    width: 836px;
    margin-right: 40px;
    border: 2px solid white;
    border-radius: 5px; 
    
}

.comotrans {
    width: 836px;
    border: 2px solid white;
    border-radius: 5px; 
}

.comoforma {
    width: 836px;
    margin-right: 40px;
    border: 2px solid white;
    border-radius: 5px; 
}

.oquee p,
.comotrans p,
.comoforma p,
.ondecomeco p,
.filhocontribui h1,
.filhocontribui p {
    margin-inline: 5%;
    font-weight: 520;
}

.ondecomeco {
    width: 836px;
    border: 2px solid white;
    border-radius: 5px; 
}

.oquecontribui {
    margin: 20px auto;
    width: 1000px;
    padding: 10px;
    
}

.filhocontribui {
    border: 2px solid white;
    border-radius: 5px;
}


div h1,
div h2 {
    color: white; /* Cor do título verde */
    text-align: center;
    letter-spacing: 1px;
    
}

div p {
    text-align: justify;
    line-height: 1.5;
    color: white;
}

.btn-voltar {
    background-color: #377999;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer; /* Cursor ao passar */
    transition: background-color 0.4s;
    font-size: 16px;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #E44617; /* Cor de fundo mais escura ao passar o mouse */
}
